.pic{
    display: grid;
    height: 5rem;
    padding-left: 10rem ;

  }
 .button{
    display: grid;
    justify-content: center;
    align-items: center;
  }

/* Mobile-first styles */
.student {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .student h1 {
    text-align: center;
  }
  
  .student .info {
    margin-top: 20px;
  }
  
  .student form div {
    margin-bottom: 15px;
  }
  
  .student form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .student form input[type="text"],
  .student form input[type="email" ],
  .student form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .student form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23757575' width='18px' height='18px'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 12px;
    color: #5c6db8;
  }
  
  .student form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 8rem;
    margin-top: 2rem;
  }
  
  /* Media query for tablets */
  @media only screen and (min-width: 768px) {
    .student form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      
      row-gap: 30px;
      column-gap: 100px;
    }
  
    .student form div {
      margin-bottom: 0;
    }
  }
  
  /* Media query for desktops */
  /* @media only screen and (min-width: 992px) {
    .student form {
      grid-template-columns: repeat(2, 1fr);
      
    }
  }
   */
  